*{
    margin: 0;
    padding: 0;
}

.a,.b,.c{
    border: 3px solid darkred;
    padding: 30px;
    margin: 50px 20px;
}
.text{
    padding: 8px;
}
.title{
    text-align: center;
    color: darkred;
    margin: 3px;
}