@media (min-width:576px) {
    .container {
        width: 54rem;
        /*540px*/
    }

}

@media (min-width:768px) {
    .container {
        width: 72rem;
    }

}

@media (min-width:992px) {
    .container {
        width: 96;
        /*540px*/
    }

}

@media (min-width:1200px) {
    .container {
        width: 114em;
        /*1140px*/
    }

}
@media (min-width:1400px) {
    .container {
        width: 137em;
        /*11400px*/
    }

}